/* style.css */ 
/*THIS CODE IS FOR THE ENTIRE BODY (WHOLE SITE)*/ 
body { 
  background-color: beige;
  overflow-x: hidden; 
} 
/*THIS IS THE CODE FOR THE HEADER*/ 
header { 
  position: relative; 
}
header img {
  left: 50%;
  
  width: 100%;
  height: 200px;
  object-fit: cover;
}

header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 4px black;
  text-align: center;
}

/* Responsive styles */ 
@media (max-width: 600px) { /*Stack elements vertically on small screens*/ 
  .welcome { flex-direction: column; 
  } /*Adjust font size and spacing for small screens*/ 
  .welcome h1, .welcome p1, .welcome p2 { 
    font-size: 18px; 
    margin: 12px 0; 
  } 
  .welcome img { 
    width: 100%; /*set width to 100% for small screens */ 
  } 
} 
/*THIS IS THE CODE FOR THE NAVIGATION BAR*/ 
nav { 
  font-family: 'Roboto', sans-serif;
  flex-wrap: nowrap; 
  overflow-x: auto; 
  position: fixed; /*change position to fixed*/ 
  top: 0; /*position at the top of the screen*/ 
  left: 0; /*position at the left of the screen*/ 
  right: 0; /*position at the right of the screen*/ 
  background-color: #333; 
  color: #fff; 
  display: flex; 
  justify-content: space-between; 
  padding: 10px 15px; 
  z-index: 1; /*add z-index to make sure nav bar is on top */ 
} 
/*THIS IS THE CODE FOR THE HOME PAGE (INDEX)*/
/*Styles for the main container*/ 
.welcome { 
  display: flex; 
  align-items: center; 
  flex-wrap: wrap; 
  margin: 24px 0; 
}
/* Styles for the heading*/ 
.welcomeh1 h1 {
  font-family: 'Roboto', sans-serif; 
  font-size: 36px; 
  font-weight: bold; 
  text-align: center; 
  width: 100%; 
  margin-top: 80px; 
  color: #333; 
} 
.welcomeBooking {
  position: relative;
}
/*Styles for the image*/ 
.welcome img { 
  width: 100%; /* change fixed width to 100% */ 
  height: 400px; /*remove fixed height */ 
  object-fit: cover; 
} 
/*Styles for the paragraphs*/ 
.welcome p1 { 
  font-family: 'Roboto', sans-serif;
  font-size: 20px; 
  width: 100%; /*change fixed width to 100%*/ 
  margin: 0; /*remove fixed margins*/ 
  text-align: center; /*align text in the center */ 
}
.welcomeBooking img { 
  position: relative; 
  width: 100%; /* Change fixed width to 100%*/ 
  height: auto; /*Remove fixed height */ 
  object-fit: cover; 
}
.book-button {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  border-radius: 4px;
  display: block; /*make the button a block element */
}
.book-button:hover { 
  background-color: #616161; 
} 
/*Styles for the Testimonials heading*/ 
.testimonialsh1 h1 {
  font-family: 'Roboto', sans-serif; 
  text-align: center; 
  margin-bottom: 20px; /*Add margin to separate heading from testimonials */ 
  color: #333; 
}
/* Styles for the Testimonials container*/ 
.testimonials { 
  display: flex; /*change the display property to flex*/ 
  align-items: center; /*align items in the center*/ 
  justify-content: space-between; /*add space between the two testimonials*/ 
  margin: 0 auto; /*center the testimonials on the screen*/ 
  width: 80%; /*reduce the width of the container to make it more mobile-friendly */ 
}
/* Styles for the left testimonial*/ 
.testimonials p1a { 
  font-family: 'Roboto', sans-serif;
  margin-right: 20px; /* reduce the margin to make them closer together */ 
  width: 40%; /* reduce the width to make them closer together */ 
  margin: 10px 0; /*reduce space between elements */ 
  text-align: center; /*align text in the center */ 
}
.testimonials p1b { 
  font-family: 'Roboto', sans-serif;
  width: 40%; /* reduce the width to make them closer together */ 
  text-align: center; /* align text in the center */ 
}
/* Styles for the right testimonial */ 
.testimonials p2a { 
  font-family: 'Roboto', sans-serif;
  margin-left: 20px; /* reduce the margin to make them closer together */ 
  width: 40%; /* reduce the width to make them closer together */ 
  margin: 10px 0; /* reduce space between elements */ 
  text-align: center; /* align text in the center */ 
}
.testimonials p2b { 
  font-family: 'Roboto', sans-serif;
  width: 40%; /* reduce the width to make them closer together / text-align: center; / align text in the center */ 
}


/*THIS IS THE CODE FOR THE FOOTER*/
/* Styles for the footer container */
.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* divide the container into 3 equal columns */
  align-items: center; /* align items in the center */
  justify-content: space-between; /* add space between elements */
  margin-top: 100px;
  background-color: #333;
  padding: 20px;
}

/* Styles for the staff login button */
.staff-login-btn {
  font-family: 'Roboto', sans-serif;
  grid-column: 1 / 2; /* span 1 column */
  margin-bottom: -10px; /* move button down */
  width: 100px;
  margin-right: 10px;
}

/* Styles for the footer text */
.footer-text {
  font-family: 'Roboto', sans-serif;
  grid-column: 2 / 3; /* span 1 column */
  text-align: center; /* center text */
  margin-bottom: -10px; /* move text down */
  color: #fff;
  word-break: break-all;
}

/* Styles for the social buttons container */
.social-btns {
  grid-column: 3 / 4; /* span 1 column */
  display: flex; /* change the display property to flex */
  justify-content: flex-end; /* move the social buttons to the right */
  margin-bottom: -10px;
}

/* Styles for the social buttons */
.social-btn {
  font-family: 'Roboto', sans-serif;
  margin-left: 10px; /* add space between buttons */
  color: #fff;
}

/* Responsive styles for the footer */
@media (max-width: 600px) {
  /* Stack elements vertically on small screens */
  .footer-container {
    grid-template-columns: repeat(1, 1fr);
  }
  /* Adjust font size and spacing for small screens */
  .footer-text {
    font-size: 14px;
    margin: 12px 0;
  }
  /* Move the social buttons below the contact information */
  .social-btns {
    margin-top: 20px;
  }
}
/* Updated CSS for the about page /
/* Styles for the heading */
.abouth1 h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-top: 80px;
  color: #333;
  }
  
  .about {
    font-family: 'Roboto', sans-serif;
  text-align: center;
  }
  
  img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  }
  
  .mussels {
  margin-top: 50px;
  transform: translate(300px);
  }
  
  /* Mobile styles */
  @media (max-width: 768px) {
  .mussels {
  transform: none;
  margin: 0 auto;
  display: block;
  }
  }
  
  .hobbit {
  margin-top: 50px;
  position: relative;
  float: right;
  }
  
  /* Mobile styles */
  @media (max-width: 768px) {
  .hobbit {
  float: none;
  margin: 0 auto;
  display: block;
  }
  }
  
  /* Desktop styles */
  @media (min-width: 768px) {
  .mussels {
  transform: translate(300px);
  }
  .hobbit {
  position: absolute;
  right: 300px;
  }
  }
  
  /* Add width and max-width */
  .about img{
  width:100%;
  max-width:500px;
  }
/*THIS IS THE CODE FOR MENU PAGE*/
 /* Styles for the heading */
 .menuh1 h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-top: 80px;
  color: #333;
}
.karakia {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-style: italic;
  margin-top: 50px;
}
  

  table {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 100px; /* adjust margin-top value to move table down */
}

th {
    text-align: center; /* center text within th element */
}

th, td {
  font-family: 'Roboto', sans-serif;
    padding: 10px; 
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.menu-table {
    margin: 0 auto; /* center the table on the screen */
    margin-top: 250px;
}
  nav ul {
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    display: flex;
  }
  
  nav li {
    font-family: 'Roboto', sans-serif;
    margin-right: 80px;
    white-space: nowrap;
  }
  
  nav a {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-right: 10px;
    text-decoration: none;
  }
  nav a:hover {
    color: #aaaaaa /*edit color*/
  }
  
  /* Responsive styles */
  @media (max-width: 600px) {
    header h1 {
      font-size: 2em;
    }
    nav {
      flex-wrap: wrap;
    }
    nav li {
      margin-bottom: 10px;
      width: 100%;
      margin-right: 0;
      text-align: center;
    }
  }

  /* Styles for the heading */
.contacth1 h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-top: 80px;
  color: #333;
}
 
  .contact-info {
    font-family: 'Roboto', sans-serif;
  text-align: center;
  }
  
  .contact-info li {
    font-family: 'Roboto', sans-serif;
  list-style: none;
  }
/*THIS IS THE CODE FOR THE FOOTER*/
/* Styles for the footer container */
.contact-footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* divide the container into 3 equal columns */
  align-items: center; /* align items in the center */
  justify-content: space-between; /* add space between elements */
  margin-top: 420px;
  background-color: #333;
  padding: 20px;
}

/* Styles for the staff login button */
.contact-staff-login-btn {
  font-family: 'Roboto', sans-serif;
  grid-column: 1 / 2; /* span 1 column */
  margin-bottom: -10px; /* move button down */
  width: 100px;
  margin-right: 10px;
}

/* Styles for the footer text */
.contact-footer-text {
  font-family: 'Roboto', sans-serif;
  grid-column: 2 / 3; /* span 1 column */
  text-align: center; /* center text */
  margin-bottom: -10px; /* move text down */
  color: #fff;
  word-break: break-all;
}

/* Styles for the social buttons container */
.contact-social-btns {
  grid-column: 3 / 4; /* span 1 column */
  display: flex; /* change the display property to flex */
  justify-content: flex-end; /* move the social buttons to the right */
  margin-bottom: -10px;
}

/* Styles for the social buttons */
.contact-social-btn {
  font-family: 'Roboto', sans-serif;
  margin-left: 10px; /* add space between buttons */
  color: #fff;
}

/* Responsive styles for the footer */
@media (max-width: 600px) {
  /* Stack elements vertically on small screens */
  .contact-footer-container {
    grid-template-columns: repeat(1, 1fr);
  }
  /* Adjust font size and spacing for small screens */
  .contact-footer-text {
    font-size: 14px;
    margin: 12px 0;
  }
  /* Move the social buttons below the contact information */
  .contact-social-btns {
    margin-top: 20px;
  }
}


/* Styles for the heading */
.bookingsh1 h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-top: 80px;
  color: #333;
  margin-bottom: 20px; /* add margin-bottom to separate the h1 from the button */
}
/* Styles for the book button */
.bookings {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 150px;
  margin-right: 100px;
  margin-bottom: 200px;
}
.book-button {
  display: inline-block;
}

/*THIS IS THE CODE FOR THE FOOTER*/
/* Styles for the footer container */
.booking-footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* divide the container into 3 equal columns */
  align-items: center; /* align items in the center */
  justify-content: space-between; /* add space between elements */
  margin-top: 510px;
  background-color: #333;
  padding: 20px;
}

/* Styles for the staff login button */
.booking-staff-login-btn {
  font-family: 'Roboto', sans-serif;
  grid-column: 1 / 2; /* span 1 column */
  margin-bottom: -10px; /* move button down */
  width: 100px;
  margin-right: 10px;
}

/* Styles for the footer text */
.booking-footer-text {
  font-family: 'Roboto', sans-serif;
  grid-column: 2 / 3; /* span 1 column */
  text-align: center; /* center text */
  margin-bottom: -10px; /* move text down */
  color: #fff;
  word-break: break-all;
}

/* Styles for the social buttons container */
.booking-social-btns {
  font-family: 'Roboto', sans-serif;
  grid-column: 3 / 4; /* span 1 column */
  display: flex; /* change the display property to flex */
  justify-content: flex-end; /* move the social buttons to the right */
  margin-bottom: -10px;
}

/* Styles for the social buttons */
.booking-social-btn {
  font-family: 'Roboto', sans-serif;
  margin-left: 10px; /* add space between buttons */
  color: #fff;
}

/* Responsive styles for the footer */
@media (max-width: 600px) {
  /* Stack elements vertically on small screens */
  .booking-footer-container {
    grid-template-columns: repeat(1, 1fr);
  }
  /* Adjust font size and spacing for small screens */
  .booking-footer-text {
    font-size: 14px;
    margin: 12px 0;
  }
  /* Move the social buttons below the contact information */
  .booking-social-btns {
    margin-top: 20px;
  }
}

  /* Style the form elements */
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #ccc;
}

/* Style the labels and inputs */
label, input {
  display: block;
  margin-bottom: 10px;
}

/* Style the submit button */
input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}





